<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Wellness Wizard</title>
  </head>
  <body>
    <nav>
      <div class="nav__bar">
        <div class="nav__header">
          <div class="nav__logo">
            <a href="#"><img 
              src="/assets/logo.png" 
              style="max-width: 150px;" 
              alt="Logo" 
              class="d-inline-block align-top" 
            /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="#home">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#diet">AI DIET RECOMMENDATION</a></li>
          <li><a href="#posture">AI WORKOUT RECOMMENDATION</a></li>
          <li><a href="#blog">CHAT GIUDE</a></li>
          <li><a href="#contact">CONTACT US</a></li>
          <li>     
              <a href="/users/register" class="btn btn__primary">SIGN UP</a>
          </li>
          <li>     
            <a href="/users/login" class="btn btn__primary">LOG IN</a>
        </li>
        </ul>
      </div>
    </nav>

    <header class="header" id="header">
      <div class="section__container header__container">
        <div class="header__content">
          <h1>WELLNESS WIZARD</h1>
          <h2>FOR DREAMERS WHO ACHIEVE</h2>
          <p>Wellness is a journey, not a destination</p>
          <div class="header__btn">
            <a href="/index" class="btn btn__primary">GET STARTED</a>
          </div>
        </div>
      </div>
    </header>

    <section class="section__container about__container" id="about">
      <div class="about__header">
        <h2 class="section__header">ABOUT US</h2>
        <p class="section__description">
          Wellness Wizard is your all-in-one fitness platform, offering personalized AI-driven diet recommendations,workout recommendation, and motivational gamification to make wellness simple and engaging. Join us and elevate your health journey!
        </p>
      </div>
      <div class="about__grid">
        <div class="about__card">
          <h4>Personalized AI Recommendation</h4>
          <p>
            Customized diet plans and exercise suggestions based on your unique health profile.
          </p>
        </div>
        <div class="about__card">
          <h4>Motivational Gamification</h4>
          <p>
            Real-time yoga pose instructions with timers to enhance your technique and form.
          </p>
        </div>
        <div class="about__card">
          <h4>Workout Recommendation</h4>
          <p>
           Stay ahead of the curve with our state-of-the-art equipment designed
            to elevate your workout experience.
          </p>
        </div>
      </div>
    </section>

    <section class="session">
      <div class="session__card">
        <h4>Fitness</h4>
        <p>
          Embrace a holistic approach to fitness with our comprehensive fitness
          programs at Wellness Wizard.
        </p>
        
      </div>
      <div class="session__card">
        <h4>Session Progress Tracker</h4>
        <p>
          Real-time tracking to show progress within the session, indicating completed and remaining exercises.
        </p>
       
      </div>
      <div class="session__card">
        <h4>Daily Yoga Routine</h4>
        <p>
          A list of yoga poses or exercises planned for the session, with timers and instructions for each pose.
        </p>
        
      </div>
      <div class="session__card">
        <h4>Session Timer</h4>
        <p>
          A timer for each exercise and the overall session to help users stay on track with each yoga pose or activity.
        </p>
      </div>
    </section>


    <section class="section_container trainer_container" id="diet">
      <h2 class="section__header">DIET RECOMMENDATION</h2>
      <div class="trainer__grid">
        <div>
          <img src="assets/diet1.jpg" alt="diet" class="animate__zoom-in" />
        </div>
        <div>
          <img src="assets/diet2.png" alt="diet" class="animate__zoom-in" />
        </div>
        <div>
          <img src="assets/diet3.jpg" alt="diet" class="animate__zoom-in" />
        </div>
        <div>
          <img src="assets/diet4.jpg" alt="diet" class="animate__zoom-in" />
        </div>
      </div>
    
      <div class="diet-info">
        <P><strong>At Wellness Wizard,</strong> we are committed to revolutionizing the way you approach nutrition by offering a fully personalized experience powered by cutting-edge AI technology. Our intelligent system takes into account your specific details, such as weight, height, allergies, and fitness goals, to design meal plans that are uniquely tailored to meet your needs. Whether your objective is to shed extra pounds, build muscle, or simply maintain a healthy lifestyle, our platform ensures you receive the most effective and customized guidance without the hassle of trial and error. Say goodbye to generic advice and the guesswork that often comes with healthy eating. With Wellness Wizard, you’ll enjoy a seamless journey to achieving your nutritional and fitness aspirations.</P>
        <div class="button-center">
          <a href="/index" class="btn btn__primary">Click Here</a>
        </div>
      </div>
    </section>
  

    <section class="blog" id="blog">
      <div class="section__container blog__container">
        <h2 class="section__header">Hi! I'm SV-AI – Your Personal Assistant for Study & Fitness!</h2>
        <div class="blog__grid">
          <div class="blog__card">
            <img src="assets/blog-1.jpg" alt="blog" />
            <h4>Fueling Your Body for Optimal Performance</h4>
          </div>
          <div class="blog__card">
            <img src="assets/blog-2.jpg" alt="blog" />
            <h4>A Guide to Setting and Achieving Fitness Goals</h4>
          </div>
          <div class="blog__card">
            <img src="assets/blog-3.jpg" alt="blog" />
            <h4>Tips and Techniques for Efficient Exercise</h4>
          </div>
          <div class="blog__card">
            <img src="assets/blog-4.jpg" alt="blog" />
            <h4>A Beginner's Guide to Starting Your Running Journey</h4>
          </div>
        </div>
        <div class="blog__btn">
          <a href="/index" class="btn btn__primary">CHAT WITH US</a>
        </div>
      </div>
    </section>


    <section class="section__container client__container" id="posture">
      <h2 class="section__header">WORKOUT RECOMMENDATION</h2>
      <div class="trainer__grid">
        <div>
          <img src="assets/posture1.jpg" alt="posture" class="animate__zoom-in" />
        </div>
        <div>
          <img src="assets/posture2.jpg" alt="posture" class="animate__zoom-in" />
        </div>
        <div>
          <img src="assets/posture3.jpg" alt="posture" class="animate__zoom-in" />
        </div>
        <div>
          <img src="assets/posture4.jpg" alt="posture" class="animate__zoom-in" />
        </div>
      </div>
    
      <div class="diet-info">
       
        <P><strong>Wellness Wizard: Your Path to Fitness</strong>
          Workouts are key to a healthy and energetic life.They improve strength, mood, and energy. With our personalized guidance, achieve your goals and embrace a healthier, stronger you!</P>
          <div class="button-center">
          <a href="/index" class="btn btn__primary">Click Here</a>
        </div>
      </div>
    </section>

    <footer class="footer" id="contact">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="footer__logo">
            <a href="#"><img src="assets/logo.png" alt="logo" /></a>
          </div>
          <p>
            Welcome to Wellness Wizard, where we believe that every journey to
            fitness is unique and empowering.
          </p>
          <ul class="footer__links">
            <li>
              <a href="#">
                <span><i class="ri-phone-fill"></i></span>
                +91 88676080164
              </a>
            </li>
            <li>
              <a href="#">
                <span><i class="ri-mail-fill"></i></span>
                info@wellnesswizard.com
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>GALLERY</h4>
          <div class="gallery__grid">
            <img src="assets/gallery-1.jpg" alt="gallery" />
            <img src="assets/gallery-2.jpg" alt="gallery" />
            <img src="assets/gallery-3.jpg" alt="gallery" />
            <img src="assets/gallery-4.jpg" alt="gallery" />
            <img src="assets/gallery-5.jpg" alt="gallery" />
            <img src="assets/gallery-6.jpg" alt="gallery" />
            <img src="assets/gallery-7.jpg" alt="gallery" />
            <img src="assets/gallery-8.jpg" alt="gallery" />
            <img src="assets/gallery-9.jpg" alt="gallery" />
          </div>
        </div>
        <div class="footer__col">
          <h4>NEWSLETTER</h4>
          <p>
            Don't miss out on the latest news and offers - sign up today and
            join our thriving fitness community!
          </p>
          <div class="footer__socials">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-youtube-fill"></i></a>
          </div>
        </div>
      </div>
      <div class="footer__bar">
        &copy; 2024 WELLNESS WIZARD. All rights reserved.
      </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
